.home-sideNavbar{
    display: flex;
    flex-direction: column;
    flex: 0.16 1;
    box-sizing: border-box;
    height: 92vh;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 55px;
    width: 275px;
    padding: 14px;
    background-color: rgb(10, 48, 63);
    color: whitesmoke;
}