.home-sideNavbarHide{
    display: none;
}

.home-sideNavbar{
    display: flex;
    flex-direction: column;
    flex: 0.16 1;
    box-sizing: border-box;
    height: 92vh;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 55px;
    width: 200px;
    padding: 14px;
    background-color: rgb(10, 48, 63);
    color: whitesmoke;
    transition: width 0.3s; 
}

.home-sideNavbarOverlay { 
    width: 250px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100%; 
    background-color: #202020; 
    overflow-x: hidden; 
    z-index: -20; /* Ensure it's above other content */
    transition: width 0.3s; opacity: 0.9; /* Slight transparency for overlay effect */ 
}

.home-sideNavbar::-webkit-scrollbar{
    width: 0px; /* Hiding the scroll bar  */
}

.home_sideNavbarTop{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(86, 85, 85) ;
    padding-bottom: 10px;
}

.home_sideNavbarTopOption{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 9px 10px;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
        background-color: rgb(35, 35, 35);
    }
}

.home_sideNavbarTopOptionTitle{
    font-size: 16px;
    font-weight: 450;
}

.home_sideNavbarMiddle{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(86, 85, 85);
    padding: 10px 0;
}

.home_sideNavbarTopOptionTitleHeader{
    font-weight: 600;

}

.home_sideNavbar_ImgLogo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}