.homepage{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex: 1;
    margin-left: 253px;
    min-height: 100vh;
    position: relative;
    padding-top: 56px;
}

.homepage_options{
    display: flex;
    position: fixed;
    top: 55px;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    flex-shrink: 0;
    height: auto;
    overflow-x: auto ;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px 2px;
}

.homepage_options::-webkit-scrollbar { 
    height: 25px;
} 

.homepage_option{
    flex: 0 0 auto;
    height: 30px;
    padding: 1px 10px;
    background-color: rgb(42, 42, 42);
    color: white;
    font-weight: 600;
    font-size: .9rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}