.navbar{
    height: 56px;
    box-sizing: border-box;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    top: 0;
    background-color: skyblue;
    z-index: 10;
}

.navbar-left{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.navbarHamburger{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}