.login{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /*blurs the background*/
    position: fixed;
    top: 0;
    color: black;
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.login_card{
    width: 40%;
    height: 60%;
    margin-top: 100px;
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5px 0.5px 8px gray;
    border-radius: 8px;
}

.titleCard_login{
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login_youtubeImage{
    color: red;
}

.loginCredentials{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.userNameLogin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userNameLoginUserName{
    width: 60%;
    height: 45px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #a5a0a0; 
}

.login_buttons{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login-btn{
    width: 25%;
    border: 1px solid;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    background-color:aliceblue;
    &:hover{ 
        color: whitesmoke;
        background-color: black;
    }
}